body{
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: salmon;
    font-family: cursive;
}

.container{
    background-color: lightpink;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);

}

.txtarea{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px gray;
    font-size: 18px;
    font-family: sans-serif;
}

.counter{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.total_char{
    color: slateblue;
}

.rem{
    color: orangered;
}